.robot-info-box {
  position: absolute;
  top: 30%;
  left: 16%;
  width: 300px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #0f0;
  padding: 1rem;
  color: #0f0;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 3px #0f0;
  z-index: 3;
  border-radius: 10px;
}

.robot-info-box h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.robot-info-box p {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}
